.heroContainer{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;
    padding: 1.25rem;
}

.heroContainer
.hero-layout-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    z-index: 10;
    overflow: hidden;
    background: var( --dark-backgroud);
}

.heroContainer
.hero-layout-content
.text-hero{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 2rem;
    color: var( --ligth-font);
}

.heroContainer
.hero-layout-content
.text-hero
.title{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.25rem 0;
    font-size: 50px;
    color: var(--title-green);
}

.heroContainer
.hero-layout-content
.text-hero
.title
h1{
    font-weight: bold;
    
}

.heroContainer
.hero-layout-content
.text-hero
.hero-text-2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 1.25rem;
}

.heroContainer
.hero-layout-content
.text-hero
.contain-button{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 1.25rem;
}

.heroContainer
.hero-layout-content
figure{
    position: relative;
    display: flex;
    height: 100%;
    width: 60%;
    padding: 5px;
    justify-content: center;
    align-items: center;
    z-index: 40;
}

/* EnergyData component */
.contianer
.title{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 0.1rem 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.23rem;
    color: var( --title-dark);
}



